{% block title %}<title>PYM 3D</title>{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('resetpassword') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('resetpassword') }}
{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5>Récupération du mot de passe</h5>
                        </div>
                        <div class="card-body">
                            {{ form_start(form) }}
                            <p>Saisissez l'adresse e-mail associée à votre compte. Un e-mail vous sera envoyé pour modifier le mot de passe. </p>
                            <div class="reset-form">
                                {{ form_widget(form) }}
                            </div>
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <p>Email non existant</p>
                            </div>
                            {% endif %}
                            <div class="btns row justify-content-around">
                                <a href="{{ path('auth_deconnexion') }}" class="btn btn-secondary go-back">Annuler</a>
                                <button type="submit" class="btn btn-success send-reset">Envoyer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5>Récupération du mot de passe</h5>
                        </div>
                        <div class="card-body">
                            <h5>Impossible de récupérer le mot de passe si vous êtes connecté.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}